*{
    margin: 0;
    padding: 0;
    /* border: 0;
    outline: 0;
    font-size:small;
    vertical-align: baseline; */
    /* background: transparent; */
}
.main{
    margin-left: 5%;
    margin-right: 2%;
}

h6{
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
}


#name{
    display: flex;
    margin: 5px;
    height: 35px;
    border: 1px solid black;
    border-radius: 1px;
}
